.loader {
    margin: 250px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid rgb(0, 0, 0);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    animation: spin 1.2s linear infinite;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}